tests/Itkg/Soap/test.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- WSDL file generated by Zend Studio. -->
<definitions name="IcareMonCompte" targetNamespace="urn:IcareMonCompte" xmlns:typens="urn:IcareMonCompte" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
	<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:IcareMonCompte">
		<xsd:complexType name="compte">
			<xsd:all>
				<xsd:element minOccurs="0" maxOccurs="1" name="abonne_declaratif" type="xsd:boolean" />
				<xsd:element xmlns:q1="urn:IcareMonCompte" minOccurs="1" maxOccurs="1" name="civilite">
					<xsd:annotation>
						<xsd:documentation xml:lang="fr">
						1:M.
						2:Mme
						3:Mlle
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:int">
							<xsd:enumeration value="1" />
							<xsd:enumeration value="2" />
							<xsd:enumeration value="3" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element minOccurs="1" maxOccurs="1" name="code_postal" type="xsd:string" />
				<xsd:element minOccurs="1" maxOccurs="1" name="email" type="xsd:string" />
				<xsd:element minOccurs="0" maxOccurs="1" name="inscription_newsletter" type="xsd:boolean" />
				<xsd:element minOccurs="0" maxOccurs="1" name="inscription_partenaire" type="xsd:boolean" />
				<xsd:element minOccurs="1" maxOccurs="1" name="nom" type="xsd:string" />
				<xsd:element minOccurs="0" maxOccurs="1" name="numero_abonne" type="xsd:string" />
				<xsd:element minOccurs="1" maxOccurs="1" name="prenom" type="xsd:string" />
				<xsd:element minOccurs="0" maxOccurs="1" name="pseudo" type="xsd:string" />
				<xsd:element minOccurs="0" maxOccurs="1" name="subscriber_id" type="xsd:int" />
				<xsd:element minOccurs="0" maxOccurs="1" name="motdepasse" type="xsd:string" />
				<xsd:element minOccurs="0" maxOccurs="1" name="site_id" type="xsd:int" />
				<xsd:element minOccurs="0" maxOccurs="1" name="creation_date" type="xsd:date" />
				<xsd:element minOccurs="0" maxOccurs="1" name="last_use_date" type="xsd:date" />
				<xsd:element minOccurs="0" maxOccurs="1" name="CGAWeb_nAbonne" type="xsd:string" />
			</xsd:all>
		</xsd:complexType>
 
		<xsd:simpleType name="ProcessType">
			<xsd:restriction base="xsd:NMTOKEN">
				<xsd:enumeration value="GENERIC"/>		
				<xsd:enumeration value="TUNNEL"/>
				<xsd:enumeration value="TEMPORARY"/>
			</xsd:restriction>
		</xsd:simpleType>
 
		<xsd:simpleType name="CertificateType">
			<xsd:restriction base="xsd:NMTOKEN">
				<xsd:enumeration value="CODE"/>
				<xsd:enumeration value="RIB"/>
				<xsd:enumeration value="COURIER"/>
			</xsd:restriction>
		</xsd:simpleType>
 
		<xsd:complexType name="emailCompte">
			<xsd:all>
				<xsd:element minOccurs="1" maxOccurs="1" name="subscriber_id" type="xsd:int" />
				<xsd:element minOccurs="1" maxOccurs="1" name="email" type="xsd:string" />
				<xsd:element minOccurs="0" maxOccurs="1" name="emailConfirmation" type="xsd:string" />
				<xsd:element xmlns:q1="urn:IcareMonCompte" minOccurs="1" maxOccurs="1" name="checkConfirmation">
					<xsd:simpleType>
						<xsd:restriction base="xsd:int">
							<xsd:enumeration value="0" />
							<xsd:enumeration value="1" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>				
			</xsd:all>
		</xsd:complexType>
		<xsd:complexType name="motdepasseCompte">
			<xsd:all>
				<xsd:element minOccurs="1" maxOccurs="1" name="subscriber_id" type="xsd:int" />
				<xsd:element minOccurs="0" maxOccurs="1" name="motdepasse" type="xsd:string" />
				<xsd:element minOccurs="0" maxOccurs="1" name="motdepasseConfirmation" type="xsd:string" />
				<xsd:element xmlns:q1="urn:IcareMonCompte" minOccurs="1" maxOccurs="1" name="checkConfirmation">
					<xsd:simpleType>
						<xsd:restriction base="xsd:int">
							<xsd:enumeration value="0" />
							<xsd:enumeration value="1" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element minOccurs="0" maxOccurs="1" name="motdepasseOld" type="xsd:string" />
				<xsd:element xmlns:q1="urn:IcareMonCompte" minOccurs="1" maxOccurs="1" name="checkOld">
					<xsd:simpleType>
						<xsd:restriction base="xsd:int">
							<xsd:enumeration value="0" />
							<xsd:enumeration value="1" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>				
			</xsd:all>
		</xsd:complexType>
		<xsd:complexType name="statutIcare">
			<xsd:all>
				<xsd:element minOccurs="0" maxOccurs="1" name="CGA_nAbonne" type="xsd:string" />
				<xsd:element minOccurs="0" maxOccurs="1" name="email" type="xsd:string" />
				<xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string" />			
			</xsd:all>
		</xsd:complexType>
		<xsd:complexType name="newPassword">
			<xsd:all>
				<xsd:element maxOccurs="1" minOccurs="1" name="processType" type="typens:ProcessType"/>
				<xsd:element maxOccurs="1" name="email" type="xsd:string"/>
				<xsd:element maxOccurs="1" minOccurs="1" name="siteUrl" type="xsd:string"/>	
			</xsd:all>
		</xsd:complexType>
		<xsd:complexType name="setNewPassword">
			<xsd:sequence>
				<xsd:choice>
					<xsd:sequence maxOccurs="1" minOccurs="1">
						<xsd:element maxOccurs="1" minOccurs="1" name="token" type="xsd:string" />
						<xsd:element maxOccurs="1" minOccurs="1" name="password" type="xsd:string" />
					</xsd:sequence>
					<xsd:sequence maxOccurs="1" minOccurs="1">
						<xsd:element maxOccurs="1" name="email" type="xsd:string" />
						<xsd:element maxOccurs="1" name="code" type="xsd:string" />
					</xsd:sequence>
					<xsd:sequence maxOccurs="1" minOccurs="1">
						<xsd:element maxOccurs="1" name="subscriberID" type="xsd:integer" />
						<xsd:element maxOccurs="1" name="oldPassword" type="xsd:string" />
						<xsd:element maxOccurs="1" name="newPassword" type="xsd:string" />
					</xsd:sequence>
				</xsd:choice>
				<xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:integer"/>
			</xsd:sequence>
		</xsd:complexType>
 
		<xsd:complexType name="reponse">
			<xsd:all>
				<xsd:element name="acquittement">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="statut" type="xsd:string" />
							<xsd:element minOccurs="0" maxOccurs="1" name="errors">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="error" minOccurs="0" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="code" type="xsd:int" />
													<xsd:element name="message" type="xsd:string" />
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="dateAcquittement" type="xsd:date" />
							<xsd:element minOccurs="0" maxOccurs="1" name="subscriber_id" type="xsd:int" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="body">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element minOccurs="1" maxOccurs="1" name="count" type="xsd:integer" />
							<xsd:element minOccurs="0" maxOccurs="unbounded" name="accounts" type="typens:compte" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:schema>
</types>
<message name="creationCompte">
	<part name="compte" type="typens:compte"/>
</message>
<message name="creationCompteResponse">
	<part name="creationCompteReturn" type="typens:reponse"/>
</message>
<message name="modificationCompte">
	<part name="compte" type="typens:compte"/>
</message>
<message name="modificationCompteResponse">
	<part name="modificationCompteReturn" type="typens:reponse"/>
</message>
<message name="setEmail">
	<part name="emailCompte" type="typens:emailCompte"/>
</message>
<message name="setEmailResponse">
	<part name="setEmailReturn" type="typens:reponse"/>
</message>
<message name="setMotDePasse">
	<part name="motdepasseCompte" type="typens:motdepasseCompte"/>
</message>
<message name="setMotDePasseResponse">
	<part name="setMotDePasseReturn" type="typens:reponse"/>
</message>
<message name="getStatutIcare">
	<part name="statutIcare" type="typens:statutIcare"/>
</message>
<message name="getStatutIcareResponse">
	<part name="statutIcareReturn" type="typens:reponse"/>
</message>
<message name="newPassword">
	<part name="newPassword" type="typens:newPassword"/>
</message>
<message name="newPasswordResponse">
	<part name="newPasswordReturn" type="typens:reponse"/>
</message>
<message name="setNewPassword">
	<part name="setNewPassword" type="typens:setNewPassword"/>
</message>
<message name="setNewPasswordResponse">
	<part name="setNewPasswordReturn" type="typens:reponse"/>
</message>
<portType name="Icare_Services_MonComptePortType">
	<operation name="creationCompte">
		<input message="typens:creationCompte"/>
		<output message="typens:creationCompteResponse"/>
	</operation>
	<operation name="modificationCompte">
		<input message="typens:modificationCompte"/>
		<output message="typens:modificationCompteResponse"/>
	</operation>
	<operation name="setEmail">
		<input message="typens:setEmail"/>
		<output message="typens:setEmailResponse"/>
	</operation>
	<operation name="setMotDePasse">
		<input message="typens:setMotDePasse"/>
		<output message="typens:setMotDePasseResponse"/>
	</operation>
	<operation name="getStatutIcare">
		<input message="typens:getStatutIcare"/>
		<output message="typens:getStatutIcareResponse"/>
	</operation>
	<operation name="newPassword">
		<input message="typens:newPassword"/>
		<output message="typens:newPasswordResponse"/>
	</operation>
	<operation name="setNewPassword">
		<input message="typens:setNewPassword"/>
		<output message="typens:setNewPasswordResponse"/>
	</operation>
</portType>
<binding name="Icare_Services_MonCompteBinding" type="typens:Icare_Services_MonComptePortType">
	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="creationCompte">
			<soap:operation soapAction="urn:Icare_Services_MonCompteAction"/>
			<input>
				<soap:body namespace="urn:IcareMonCompte" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:IcareMonCompte" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="modificationCompte">
			<soap:operation soapAction="urn:Icare_Services_MonCompteAction"/>
			<input>
				<soap:body namespace="urn:IcareMonCompte" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:IcareMonCompte" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="setEmail">
			<soap:operation soapAction="urn:Icare_Services_MonCompteAction"/>
			<input>
				<soap:body namespace="urn:IcareMonCompte" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:IcareMonCompte" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="setMotDePasse">
			<soap:operation soapAction="urn:Icare_Services_MonCompteAction"/>
			<input>
				<soap:body namespace="urn:IcareMonCompte" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:IcareMonCompte" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getStatutIcare">
			<soap:operation soapAction="urn:Icare_Services_MonCompteAction"/>
			<input>
				<soap:body namespace="urn:IcareMonCompte" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:IcareMonCompte" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="newPassword">
			<soap:operation soapAction="urn:Icare_Services_MonCompteAction"/>
			<input>
				<soap:body namespace="urn:IcareMonCompte" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:IcareMonCompte" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="setNewPassword">
			<soap:operation soapAction="urn:Icare_Services_MonCompteAction"/>
			<input>
				<soap:body namespace="urn:IcareMonCompte" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:IcareMonCompte" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
</binding>
<service name="IcareMonCompteService">
<port name="Icare_Services_MonComptePort" binding="typens:Icare_Services_MonCompteBinding">
<soap:address location=""/>
</port>
</service>
</definitions>